html {
background:#cfb88f;
color: #000000;
font-family: Helvetica, sans-serif;
width: 800px;
font-size: 18px;

}
a{
    color: red;
 }
 a:hover{
    color: lime;
 }
 p{
        text-indent: 2em;
        text-align: justify;
  }
h1{
 font-weight: 1,8rem;
 color: beige;
}
h2{
font-weight: 1,4rem;
}
h3{
font-weight: 1,2rem;
}
h1, h2, h3{
      text-align: center; 
}

.summary{
text-align:right;
}
.main p{line-height: 1.5;}
abbr{
font-variant: small-caps;}
html{
      width: 80%;
   margin-top: 1%;
   margin-bottom: 1%;
   margin-left: 10%;
   margin-right: 10%;} 
h1{
      text-align: center;
      background-color:#231407;
      font-size: 400%;
     }
h4{
font-weight: lighter;
}
.main p {
      line-height: 1.5;  
}