html {
background:#cfb88f;
color: #231407;
font-family: Helvetica, sans-serif;
font-size: 18px;
}

a{
    color: blue;
 }

 a:hover{
    color: lime;
 }

 p{
        text-indent: 2em;
        text-align: justify;
  }

h1{
 font-weight: 1,8rem;
}
h2{
font-weight: 1,4rem;
}

h3{
font-weight: 1,2rem;
}

h1, h2, h3{
      text-align: center; 
}

.summary{
text-align:right;
}


.main p{
      line-height: 1.5;
}

abbr{
font-variant: small-caps;
}

.page-wrapper {
      width: 80%;
      max-width: 1280px;
   margin: auto;
} 

#zen-intro {
        height: 550px;
}

#zen-intro header{
      background: #231407;
      color:#cfb88f ;
}

#zen-intro h1, #zen-intro h2 {
      display: inline-block;
} 

#zen-intro header h1 {
      margin-left: 1em;
      margin-right: 1em;
}

#design-archives {
       display: none;
}

h1{
      text-align: center;
      background-color:#231407;
      font-size: 300%;
     }

h4{
font-weight: lighter;
}

.main p {
      line-height: 1.5;  
}
aside ul{
    list-style-type: none;
}
aside ul li {
    margin: 1em;
    text-align: center;
}

.main footer{
     margin: 4%;
     
}

.main footer a{
      border: solid 2px #231407;
      padding: 0.5em;
      display: inline-block;
}